
/* Nav Bar Styles */
.topnav {
  background-color: #000;
  overflow: hidden;
}

.topnav h2, a {
  font-family: "pt sans";
  margin: 0px;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 96px;
}

.arrow {
  float: right;
  padding: 6px 16px;
}

.plus {
  float: right;
}

/* Route div Styles */
.route {
  background: #f00;
  overflow: auto;
  border-radius: 24px;
  margin: 16px;
}

.route h3, h4 {
  font-family: "pt sans";
  margin: 0px;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 64px;
}

.route h4 {
  font-size: 48px;
}
