html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#start {
  position: absolute;
  background-color: #808080;
  border-style: solid;
  border-color: #000;
  border-width: 0.5vmin;
  width: 49vmin;
  top: calc(50% - 12.5vmin/2);
  left: calc(50% - 25vmin);
}

#arrow {
  color: #0008;
  font-size: 20vmin;
  position: absolute;
  bottom: 4vmin;
  left: 4vmin;
  display: none;
}

#arrow:active {
  color: #8888;
}
h1, a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 4vmin;
  color: #000;
  text-align: center;
  width: 100%;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

@media only screen and (max-width: 6in){
  #start {
    border-width: 1vmin;
    width: 98vmin;
    top: calc(50% - 25vmin/2);
    left: calc(50% - 50vmin);
  }

  h1 {
    font-size: 8vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
  }

  #arrow {
    font-size: 25vmin;
  }
}
