/*
  Color Scheme: ID 3f31Tw0w0w0w0
    Blue: #009e8e
    Yellow: #ffa500
    Red: #f80012
*/

/* Header */
header {
  background-color: #ffa500;
  height: 16vh;
  margin: 1%;
}

.headImg {
  float: left;
  height: 87.5%;
  padding: 1vh;
}

h1.largeScreen, h1.smallScreen {
  font-family: "pt sans", sans;
  color: #ffffff;
  float: left;
  font-size: 6vh;
  margin: 5vh 1vh;
}

h1.smallScreen {
  display: none;
}

@media only screen and (max-width: 675px){

  h1.largeScreen {
    display: none;
  }

  h1.smallScreen {
    display: block;
  }
}

@media only screen and (max-width: 500px){

  h1.smallScreen {
    display: none;
  }

  .headImg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


h2 {
  font-family: "pt sans", sans;
  color: #ffffff;
}

h3 {
  font-family: "pt sans", sans;
  color: #ffffff;
  text-align: center;
}

p {
  font-family: "pt sans", sans;
  color: #ffffff;
}

body {
  background-color: #5dcfc3;
}

.section {
  margin: 1%;
  background-color: #ffa500;
}

div.column {
  width: 50%;
  float: left;
}

div.row1 {
  margin: 2vw;
  height: calc(73vh - 24vw);
  background-color: #a2000c;
}

div.row2 {
  margin: 2vw;
  height: 20vw;
  background-color: #a2000c;
}

div.fullrow {
  margin: 2vw;
  height: auto;
  background-color: #a2000c;
}

.img1 {
  width: 30.5%;
  float: left;
  padding: 2%;
}

.img2 {
  width: 61%;
  float: left;
  padding: 2%;
}
